<p id="notice"><%= notice %></p>
<%= @about_page.content %>
<% if current_user && current_user.email == 'matthias@matthiasclee.com' %>
  <%= link_to 'Edit', edit_about_page_path(@about_page) %>
<% end %>
<%= link_to 'Back', about_pages_path %>
